		
		
		
		<!-- second line header start -->
		<div class="w3-container w3-green">
			<div class="w3-left w3-margin-top w3-margin-bottom w3-border-white" style="padding-right:6px;">
				<a href="#!home" >
					<button class="w3-button fa fa-home w3-large"></button>
				</a>
			</div>
			<div class="vl w3-left" style="height:52px; color:#ccc"></div>
			<div class="w3-left w3-margin-top w3-margin-bottom" style="padding-left:4px;">
				<h5 style="font-weight:bold">View Issue</h5>
			</div>

			<div class="w3-right w3-margin-top w3-margin-left w3-margin-bottom">
				<a href="#!home" >
					<button class="w3-button w3-green w3-hover-shadow fa fa-mail-reply">&nbsp;Back</button>
				</a>
			</div>
			<div class="vl w3-right" style="height:52px; color:#ccc"></div>
			<div class="w3-right w3-margin-right w3-margin-top w3-margin-bottom" style="margin-top:14px;">
				<button onclick="self.submit_justify_form()" class="w3-button w3-hover-shadow w3-round-large" style="background-color:#ffffcc; color:black;">Justify</button>
			</div>
			<div class="w3-right w3-margin-right w3-margin-top w3-margin-bottom" style="margin-top:14px;">
				<button onclick="self.submit_unjustify_form()" class="w3-button w3-hover-shadow w3-round-large" style="background-color:#ffffcc; color:black;">Un-Justify</button>
			</div>
		</div>
		<!-- second line header end -->
		
		<!-- body start -->
		
		<div class="w3-row w3-padding-small" style="background-color:#f1f1f1; min-height:620px;">
			
			<div class="w3-container w3-white w3-card w3-row" style="margin:16px;">
				<div class="w3-left" style="width:10%";>
					<img src="fileIssue.png">
				</div>
				<div class="w3-left" style="width:80%">
					<div class="w3-col" style="width:20%">
						<h6>Issue ID</h6>
						<h5 style="font-weight:bold">{{viewIssueData[0].issueNumber}}</h5>
					</div>
					<div class="w3-col" style="width:30%">
						<h6>Issue Type - SubType</h6>
						<h5 style="font-weight:bold">{{concatDash(viewIssueData[0].issueTypeValue, viewIssueData[0].issueSubtypeValue)}}</h5>
					</div>
					<div class="w3-col" style="width:30%">
						<h6>Reported By - Date</h6>
						<h5 style="font-weight:bold">{{concatDash(viewIssueData[0].reportedBy, viewIssueData[0].issueDate | date:'dd MMM yyyy')}}</h5>
					</div>
					<div class="w3-col" style="width:20%">
						<h6>Status</h6>
						<h5 style="font-weight:bold">{{viewIssueData[0].status}}</h5>
					</div>
				</div>
				<div class="w3-left" style="width:10%">
					<div class="" style="">
						<h6>Escalation ID</h6>
						<h5 style="color:blue; font-weight:bold">{{escalationID}}</h5>
					</div>
				</div>
			</div>

			<hr class="w3-black" style="margin: 0 16px;">

			<div class="tab" style="margin-left:16px;">
			  <button class="tablinks" onclick="openTab(event, 'Information')" id="defaultOpen">Information</button>
			  <button class="tablinks" onclick="openTab(event, 'Response')">Response</button>
			  <button class="tablinks" onclick="openTab(event, 'History')">History</button>
			</div>

			<div id="Information" class="tabcontent">
				<div class="w3-container w3-left w3-white w3-column w3-card" style="width:65%; margin:16px; height:600px;">
					<h5 style="font-weight:bold">ISSUE INFORMATION</h5> 
					<hr class="w3-black">
				
					<div >
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">Location Type</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].locationTypeValue}}</h5>
							</div>
							<div class="w3-quarter">
								<h5 class="w3-left">Location Name</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].locationValue}}</h5>
							</div>
						</div>
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">Product</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{concatDash(viewIssueData[0].product, viewIssueData[0].productValue)}}</h5>
							</div>
							<div class="w3-quarter">
								<h5 class="w3-left">Supplier</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{concatDash(viewIssueData[0].supplier, viewIssueData[0].supplierValue)}}</h5>
							</div>
						</div>
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">Justified?</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].justified}}</h5>
							</div>
							<div class="w3-quarter">
								<h5 class="w3-left">Justified Reason</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].justifiedReason}}</h5>
							</div>
						</div>
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">How Received?</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].howReceivedValue}}</h5>
							</div>
							<div class="w3-quarter">
								<h5 class="w3-left">Issue Date</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].issueDate| date:'dd MMM yyyy'}}</h5>
							</div>
						</div>
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">Responsible Party</h5>
							</div>
							<div class="w3-quarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].responsibleParty}}</h5>
							</div>
						</div>
						<div class="w3-row w3-padding-small">
							<div class="w3-quarter">
								<h5 class="w3-left">Issue Description</h5>
							</div>
							<div class="w3-threequarter">
								<h5 style="font-weight:bold;">{{viewIssueData[0].issueDescription}}</h5>
							</div>
						</div>	
					</div>
					<!-- ng-hide = false for model=productLife when issue type is product quality and subtype is expired or short life -->
					<div ng-switch="viewIssueData[0].issueSubtype">
						<div ng-switch-when="ISS001">
							<hr style="color:#eee">
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Condition</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].conditionValue}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Duration</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].duration}}</h5>
								</div>
							</div>
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Duration Units</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].durationUnitValue}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Storage Temperature</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].storageTemperature}}</h5>
								</div>
							</div>
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Humidity</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].humidity}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Notes</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].notes}}</h5>
								</div>
							</div>
						</div>
						<!-- ng-hide = false for model=productColor when issue type is product quality and subtype is color -->
						<div ng-switch-when="ISS002">
							<hr style="color:#eee">
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Taste</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].taste}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Flavor</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].flavor}}</h5>
								</div>
							</div>
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Actual Color</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].actualColor}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Expected Color</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].expectedColor}}</h5>
								</div>
							</div>
						</div>
						<!-- ng-hide = false for model=productConsistency when issue type is product quality and subtype is consistency -->
						<div ng-switch-when="ISS003">
							<hr style="color:#eee">
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Texture</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].texture}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Size</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].productSize}}</h5>
								</div>
							</div>
							<div class="w3-row w3-padding-small">
								<div class="w3-quarter">
									<h5 class="w3-left">Aroma</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].aroma}}</h5>
								</div>
								<div class="w3-quarter">
									<h5 class="w3-left">Flavor</h5>
								</div>
								<div class="w3-quarter">
									<h5 style="font-weight:bold;">{{viewIssueData[0].flavor}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="w3-container w3-left w3-white w3-column w3-card" style="width:30%; margin:16px; height:600px;">
					<div>	
						<h5 style="font-weight:bold">FILES</h5>
						<hr class="w3-black">
						<h5 >{{fileListLength}} Document(s) attached</h5>
					</div>
					<div>
						<ul class="w3-ul" id="issueFile">
	    					<li ng-repeat="x in viewFileList">{{x.fileName}}<span style="cursor:pointer;" class="w3-right w3-margin-right">x</span></li>
	  					</ul>
	  				</div>
				</div>
			
			</div>

			<div id="Response" class="tabcontent">
			<form >
			  <div class="w3-container w3-card w3-white" style="margin:16px; height:600px;">
					<div style="margin-top:16px;">
						<h4>Add Response</h4>
					</div>
					<div >
						<textarea class="w3-border w3-margin-bottom" rows="3" style="width:100%;" ng-model="responseDescription" placeholder="Write a response here.">
						</textarea>
					</div>
					<div class="">
						<label class="fa fa-file-o" for="attachResponseFile"><h5 class="w3-hover-opacity" style="color:#06abba; display:inline;"> Attach Files</h5></label>
						<input class="w3-left" style="display:none;" type="file" id="attachResponseFile" ng-model="responsefilename" multiple>
					</div>
				</div>
				</form> 
			</div>

			<div id="History" class="tabcontent">
				<div class="w3-container w3-card w3-white" style="">
					<button class="accordion"><h5 class="fa fa-chevron-down"></h5> ISSUE STATUS HISTORY</button>
					<div class="panel">
						<table class="w3-table w3-striped w3-small w3-bordered w3-border-top" id="historyTable">
							<tr>
								<th style="width:10%; font-weight:bold;">From Status</th>
								<th style="width:10%; font-weight:bold;">To Status</th>
								<th style="width:50%; font-weight:bold;">Comments</th>
								<th style="width:10%; font-weight:bold;">Changed By</th>
								<th style="width:20%; font-weight:bold;">Changed Date</th>
							</tr>
							<tr ng-repeat="x in issueStatusTable">
								<td>{{x.fromStatus}}</td>
								<td>{{x.toStatus}}</td>
								<td>{{x.comments}}</td>
								<td>{{x.changedBy}}</td>
								<td>{{x.changedDate}}</td>
							</tr>
							
						</table>
					</div>
				</div>
				<div class="w3-container w3-card w3-white" style="margin-top:16px;">
					<button class="accordion"><h5 class="fa fa-chevron-down"></h5> ISSUE AUDIT TRIAL DETAILS</button>
					<div class="panel">
						<table class="w3-table w3-striped w3-small w3-bordered w3-border-top" id="historyTable">
							<tr>
								<th style="width:30%; font-weight:bold;">Field</th>
								<th style="width:10%; font-weight:bold;">Before</th>
								<th style="width:20%; font-weight:bold;">After</th>
								<th style="width:20%; font-weight:bold;">Changed By</th>
								<th style="width:20%; font-weight:bold;">Changed Date</th>
							</tr>
							<tr ng-repeat="x in issueAuditTable">
								<td>{{x.field}}</td>
								<td>{{x.before_situation}}</td>
								<td>{{x.after_situation}}</td>
								<td>{{x.changed_by}}</td>
								<td>{{x.changed_time}}</td>
							</tr>
							
						</table>
					</div>
				</div>
			</div>

			
			
		</div>
		
		
		<!-- body end -->
		

