<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">suraj</property>
        <property name="hibernate.connection.password">Rootdb123</property>
        <property name="hibernate.connection.pool_size">20</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="com.vo.dropdown.DropdownChildVo"/>
        <mapping class="com.vo.dropdown.DropdownParentVo"/>
        <mapping class="com.vo.searchIssue.IssueTransactVo"/>
        <mapping class="com.vo.product.ProductVo"/>
        <mapping class="com.vo.common.ProductSupplierMapVo"/>
        <mapping class="com.vo.supplier.SupplierVo"/>
        <mapping class="com.vo.location.LocationVo"/>
        <mapping class="com.vo.location.LocationTypeVo"/>
        <mapping class="com.vo.viewIssue.ResponseInfoVo"/>
        

    </session-factory>
</hibernate-configuration>